.carrossel {
    background-color: var(--amarelo);
    width: 950px;
    height: 400px;
    margin: auto;
    
}
.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--amarelo);
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;  
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}





@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
        top: 60%;
    }
}
@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .descrição__titulo {
        font-size: 32px;
    }

    .descrição__texto {
        font-size: 16px;
    }

    .descrição {
        margin-right: 2em;
    }
}