/*.imagem-fundo{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}*/

body{
   
    background-image: url(img_11/tecnologia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

h1{
    color: rgb(30, 92, 146);
    
}